@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes aurora {
  0%,
  100% {
    background-position: 0% 50%, 100% 50%, 50% 100%, 0% 0%;
  }
  50% {
    background-position: 100% 50%, 0% 50%, 50% 0%, 100% 100%;
  }
}
@layer utilities {
  .motion-safe\:animate-aurora {
    @media (prefers-reduced-motion: no-preference) {
      animation: aurora 20s linear infinite;
    }
  }
}

/* Custom slider styles */
.slider::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: linear-gradient(45deg, #06b6d4, #d946ef);
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: linear-gradient(45deg, #06b6d4, #d946ef);
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}